@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');
$purple-color: #871fbf;
$pink-color: #bf1f8f;

* {
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: 'Readex Pro', sans-serif;
	font-weight: 300;
	background-color: black;
	color: white;
	min-height: 100vh;
}
.length_wrapper {
	display: flex;
	align-items: center;
	> p:first-child {
		min-width: 125px;
		color: #ccc;
		margin: 10px 0;
	}
}
.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.timer_container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-width: 108px;
	> p {
		font-size: 20px;
		font-weight: 600;
		margin: 10px 0;
		min-width: 35px;
		text-align: center;
	}
}
.btn_length {
	background: none;
	border: none;
	cursor: pointer;
	> svg {
		font-size: 25px;
		color: #fff;
		background-color: $purple-color;
		border-radius: 20px;
	}
}
.up {
	@extend .btn_length;
	> svg {
		color: #fff;
		background-color: $pink-color;
		border-radius: 20px;
	}
}
.timer_wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 25px;
	padding: 10px;
	border: 3px solid #bf1f64;
	border-radius: 8px;
}
.time_left {
	font-size: 52px;
	font-family: 'Roboto Mono', sans-serif;
	font-weight: 700;
	width: 100%;
	text-align: center;
	margin: 0;
}
.timer_label {
	color: #ccc;
	margin: 20px 0;
}
.btn_group {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin: 20px 0;
	> button {
		background: none;
		border: none;
		cursor: pointer;
	}
	> button:first-child {
		> svg {
			padding: 3px;
			border-radius: 20px;
			font-size: 40px;
			color: #fff;
			background-color: $purple-color;
		}
	}
	> button:last-child {
		> svg {
			padding: 3px;
			font-size: 40px;
			font-weight: 600;
			color: #fff;
			background-color: $pink-color;
		}
		> svg:first-child {
			border-top-left-radius: 5px;
			border-bottom-left-radius: 5px;
		}
		> svg:last-child {
			border-top-right-radius: 5px;
			border-bottom-right-radius: 5px;
		}
	}
}
